body, html{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
  

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(30, 135, 240,0.96), rgba(30,135,240,0.96)), url(../public/shipSpn.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    backface-visibility: hidden;
    overflow: hidden;
}
.heroText{
    color: rgb(211, 234, 252);
    letter-spacing: 1px;
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.4;
    width: 65%;
    font-weight: 300;
}
.heroButtons{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatButton{
    background-color: transparent;
    color: rgb(30, 135, 240);
    background-color: rgb(255,255,255);
    border:none;
    margin-right: 15px;
    font-size: 20px;
    font-weight: 300; 
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .2s;
}
.chatButton:hover{
    box-shadow: 0 3px 10px rgb(0,0,0,0.3);
}
.readMoreButton{
    background-color: transparent;
    color: rgb(211, 234, 252);
    border:none;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 300; 
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(211, 234, 252);
    transition: all .2s;
}
.readMoreButton:hover{
    border: 1px solid rgb(255,255,255);
    color: rgb(255,255,255);
    box-shadow: 0 3px 10px rgb(0,0,0,0.3);
}
.introSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.subHeading{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
.subText{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    width: 70%;
    letter-spacing: 1px;
    padding-bottom: 15px;
    line-height: 1.4;
    text-align: center;
    font-size: 16px;
}
.one{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    overflow: hidden;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 600px;
    left: 30px;
}
.two{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    overflow: hidden;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 200px;
    right: 30px;
}
.three{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    overflow: hidden;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 160px;
    left: 60px;
}
.four{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 15px;
    right: 50px;
}
.five{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    overflow: hidden;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    left: 70px;
}
.moveUpAnimaton{
    animation-name: moveUp;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
    animation-duration: 3s;
}

.moveUpSquare{
    animation-name: moveUp;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
    animation-duration: 5s;
}

.moveCircleLeft{
    animation-name: moveLeft;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
    animation-duration: 2s;
}

.moveCircleRight{
    animation-name: moveRight;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
    animation-duration: 3s;
}
@keyframes moveUp{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }

}

@keyframes moveLeft{
    0%{
        transform: translateY(0);
        transform: translateX(0);
    }
    50%{
        transform: translateY(-10px);
        transform: translateX(-7px);
    }
    100%{
        transform: translateY(0);
        transform: translateX(0);
    }
}
@keyframes moveRight{
    0%{
        transform: translateY(0);
        transform: translateX(0);
    }
    50%{
        transform: translateY(10px);
        transform: translateX(7px);
    }
    100%{
        transform: translateY(0);
        transform: translateX(0);
    }
}

.contactIntroButton{
    background-color: transparent;
    color: rgb(255,255,255);
    background-color: rgb(30,135,240);
    border:none;
    font-size: 20px;
    font-weight: 300; 
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .2s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    margin-bottom: 60px;
}
.contactIntroButton:hover{

    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    transform: translateY(-3px);
}
.uniqueWebpage{
    background-image: linear-gradient(to right bottom, rgba(30, 135, 240,0.95), rgba(30,135,240,0.95)), url(../public/code4.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}


.background {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .background::after {
    content: '';
    background: #60a9ff;
    background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
    background: -webkit-linear-gradient(top, #60a9ff 0%,#4394f4 100%);
    background: linear-gradient(to bottom, #60a9ff 0%,#4394f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  @media (min-width: 900px) {
    .background {
      padding: 0 0 25px;
    }
  }
  
  .container {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 960px;
    width: 100%;
  }
  
  .panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
  }
  
  .pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 900px) {
    .pricing-table {
      flex-direction: row;
    }
  }
  
  .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }
  
  .pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
  }
  
  .pricing-plan:last-child {
    border-bottom: none;
  }
  
  @media (min-width: 900px) {
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      flex-basis: 100%;
      padding: 25px 50px;
    }
  
    .pricing-plan:last-child {
      border-right: none;
    }
  }
  
  .pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
  }
  
  .pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .pricing-features {
    color: #016FF9;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
  }
  
  .pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
  }
  
  .pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
  }
  
  .pricing-price {
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
  }
  
  .pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348EFE;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }
  
  .pricing-button:hover,
  .pricing-button:focus {
    background-color: #e1f1ff;
  }
  
  .pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
  }
  
  .pricing-button.is-featured:hover,
  .pricing-button.is-featured:active {
    background-color: #269aff;
  }

.aboutUs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    margin: 0 auto;
    height: 80vh;
}
.aboutUss{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    margin: 0 auto;
    height: 80vh;
}




.aboutImage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blueBackground{
    background-color: rgb(30,135,240);
}
.darkBlueBackground{
background-color: rgb(30, 135, 240);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.gridText{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    width: 100%;
    letter-spacing: 1px;
    padding-bottom: 15px;
    line-height: 1.4;
    text-align: center;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
}
.onlineTextContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



.contactHeading {
    text-align: center;
    color: #a8a8a8;
    text-shadow: 1px 1px 0 white;
    font-family: 'Quicksand', sans-serif;
  }
  
  form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
  }
  form input, form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
  }
  form input:focus, form textarea:focus {
    -moz-box-shadow: 0 0px 2px #e74c3c !important;
    -webkit-box-shadow: 0 0px 2px #e74c3c !important;
    box-shadow: 0 0px 2px #e74c3c !important;
  }
  form #input-submit {
    color: white;
    background: #e74c3c;
    cursor: pointer;
  }
  form #input-submit:hover {
    -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  }
  form textarea {
    height: 126px;
  }
  
  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  
  .right {
    width: 50%;
  }
  
  .left {
    margin-right: 2%;
  }
  
  @media (max-width: 480px) {
    .half {
      width: 100%;
      float: none;
      margin-bottom: 0;
    }
  }
  /* Clearfix */
  .cf:before,
  .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .cf:after {
    clear: both;
  }
  .contactForm{
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgb(241, 241, 241);
  }
.grid{
    display: grid;
    margin-top: 30px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 160vh;
    overflow: hidden;
}
.textOne{
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imageOne{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    overflow: hidden;

}
.textTwo{
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,255,255);
}
.imageTwo{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    overflow: hidden;
}
@media (max-width: 771px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 240vh;
    }
    .textOne{
        grid-row: 1 / 2;
        grid-column: 1 / 1;
        height: 60vh;
    }
    .imageOne{
        grid-row: 2 / 3;
        grid-column: 1 / 1;
        height: 60vh;
        overflow: hidden;
    }
    .textTwo{
        grid-row: 3 / 4;
        grid-column: 1 / 1;
        height: 60vh;
    }
    .imageTwo{
        grid-row: 4 / 5;
        grid-column: 1 / 1;
        height: 60vh;
        overflow: hidden;
    }
    .gridText{
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 771px){
    .subHeading{
        font-size: 30px;
    }
    .subText{
        font-size: 16px;
    }
    .contactIntroButton {
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        transition: all .2s;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        margin-bottom: 60px;
    }
}
@media(max-width: 411px){
    .heroText {
        color: rgb(211, 234, 252);
        letter-spacing: 1px;
        font-size: 20px;
        padding-left: 30px;
        padding-right: 30px;
        line-height: 1.4;
        width: 80%;
        font-weight: 300;}
}
@media (max-width: 360px){
.gridText{
    font-size: 14px;
     margin-top: 10px;
    
}
.subHeading{
    font-size: 24px;
    margin-top: 15px;
}
.heroText{
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
}
.chatButton {
    margin-right: 5px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.readMoreButton {
    margin-left: 5px;
    font-size: 16px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}
}   
.imagePosition{
    z-index: -10;
} 
.imageShadow{
    
    transition: all .2s;
}
.imageShadow:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transform: translateY(-3px);
}
.currentProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.projectText{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    width: 70%;
    letter-spacing: 1px;
    line-height: 1.4;
    text-align: center;
    font-size: 16px;
}
.bottomParagraph{
    margin-bottom: 30px;
}
.medi{
color:rgb(0, 103, 92);
}
.pick{
    color: rgb(59, 185, 122);
}
.project{
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    margin-top: -10px;
}
.enquireButton{
    margin-top: 30px;
}
.topPadding{
    margin-top: 60px;
}
.siteLogo{
    transition: all .2s;
}
.siteLogo:hover{
    transform: translateY(-5px);
    transform: scale(1.1);
}

.contactSection{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.planeImage{
}
.contactForm{
    margin-top: 60px;
    width: 60%;
    height: 80vh;
    border-radius: 3px;
    margin-block-end: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255,255,255);
}



.containerContact {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 80px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
    text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }

  .footer{
      margin: 0 auto;
     background-image: linear-gradient(to right bottom, rgba(30, 135, 240,0.96), rgba(30,135,240,0.96));
     width: 100%;
     height: 40vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
  }
  .footerItem{
      color: rgb(255,255,255);
  }

  .navbar{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
  }   
  .navbarShrink{
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgb(228,228,228);
    transition: all .2s;
    height: 60px;

  }
.navbarStandard{
    background-color: transparent;
    transition: all .2s;
    border-bottom: none;
    height: 80px;
}

.logoHolder{
    background-image: url('../public/logoWhite.svg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 35px;
    height: 35px;
    margin-right: auto;
    margin-left: 15px;
}
.company{
    color: rgb(255,255,255);
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    margin-right: auto;
    margin-left: 45px;
}
.logoOverride{
    background-image: url('../public/logoBlue.svg');
}
.companyOverride{
    color: rgb(30,135,240);
}
.navbar{
    z-index: 1000;
}

.navContact{
    background-color: transparent;
    color: rgb(211, 234, 252);
    border:none;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 300; 
    border-radius: 20px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid rgb(211, 234, 252);
    transition: all .2s;
}
.navContact:hover{
    color: rgb(30,135,240);
    background-color: rgb(255,255,255);
}
.navContactOver{
    background-color: rgb(30,135,240);
    color: rgb(255,255,255);
}
.navContactOver:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
